.book{
   border: 1px solid black;
   text-align: center;
   margin-top: 300px;
   margin-left: 600px;
   height: 200px;
    width: 30%;
    background-color: aqua;
    line-height: 15px;
}
input[type=submit] {
    width: 30%;
    height: 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .logo{
    margin-top: 50px;
    text-align: left;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gold;
 }
 .contact{
  margin-top: 300px;
  font-size: 35px;
  color: blue;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.info{
  font-size: 20px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
}   