

.logo{
    margin-top: 50px;
    text-align: left;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gold;
}
.slideshow-container {
    max-width: 800px;
    position: relative;
}

.mySlides {
    background-color: white;
    margin-top: 50px;
    display: none;

}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
    .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color : #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
.text {
    color: black;
    font-size: 20px;
    
}
.contact{
    margin-top: 90px;
    font-size: 35px;
    color: blue;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.info{
    font-size: 20px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}   
.button{
    margin-top: 30px;
    line-height: normal;
    /* margin-left: 200px; */
}
.rent-btn{
    margin-right: 400px !important;
}
.float-start:hover{
    background-color: cyan ;      
}
.addbook:hover{
    background-color: cyan ;      
}
.float-end:hover{
    background-color: cyan ;      
}
