table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50PX;
}
thead{
    background-color: black;
    color: white;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    border: 1px solid black; 
    padding: 8px;
    text-align: left; 
        padding: 8px;
}
tr:nth-child(even) {
    background-color: #f2f2f2; 
}
.logo{
    margin-top: 50px;
    text-align: left;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gold;
}
.rent-btn{
    background-color: aqua;
}
.buy-btn{
    background-color: aqua;
}
.rent-btn:hover{
    background-color: green;
}
.buy-btn:hover{
    background-color: green;
}